<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.FaceLab.FaceLab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FaceLab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data

            android:name="com.google.android.gms.ads.APPLICATION_ID"

            android:value="@string/admob_app_id"/>

        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />


        <activity android:name="com.FaceLab.FaceLab.TestActivity" />
        <activity android:name="com.FaceLab.FaceLab.information">
            <intent-filter>
                <action android:name="android.intent.action.information" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.FaceLab.FaceLab.realMain">
            <intent-filter>
                <action android:name="android.intent.action.realMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.FaceLab.FaceLab.MainActivity" />
        <activity android:name="com.FaceLab.FaceLab.loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.FaceLab.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>